<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration. -->
<configuration scan="true" scanPeriod="60 second" debug="false">

    <property name="APP_NAME" value="crypto"/>
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>

    <appender name="std_out" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern><![CDATA[
			 [%d{yyyy-MM-dd HH:mm:ss}]  %-5level %logger{0} - %m%n
            ]]></pattern>
            </layout>
        </encoder>
    </appender>

    <property name="LOG_PATTERN"
              value="%%d{yyyy-MM-dd HH:mm:ss}]  %-5level %logger{0} - %m%n"/>
    <appender name="sync-default-appender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="async-default-appender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="sync-default-appender"/>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="std_out"/>
        <appender-ref ref="async-default-appender"/>
    </root>
</configuration>