grant codeBase "file:security/src/main/resources/external.jar" {
    permission java.io.FilePermission "security/src/main/resources/targetDir/*", "write, read, delete";
    permission java.util.PropertyPermission "user.dir", "read";
};